header{
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  align-items: center;
  color:white;
  padding: 10px;
 }
.image{
  width: 40px;
  height:  40px;
  margin-left: 140px;
 }
 p{
  margin-left: 700px;
  font-weight: bold;
 }
 .meme{
  padding: 30px;
 }
 .form1{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 30px;
}
.form-button{
  grid-column: 1/-1;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  border: none;
}
.meme{
  position: relative;
}
.meme img{
  max-width: 100%;
  border-radius: 3;

}
.meme-text{
  position: absolute;
  
  text-align: center;
  
  padding: 50px;
  justify-content: center;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.top{
  top:0;
}
.bottom{
  bottom:0;
}